<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="veiwport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>团队荣誉</title>
    <style>
        p {
            text-indent: 2em;
            line-height: 1.8em;
            font-family: '微软雅黑';
            text-align: left;
            font-size: 16px;
        }

        .box {
            text-align: center;
            background-color: #feffd3;
        }

        img {
            width: 90%;
            height: 90%;
        }

        ul li {
            width: 20%;
        }

        a {
            text-decoration: none;
            color: #e10000;
            opacity: 0.8;
            text-align: center;
        }

        h1 {
            padding-left: 20px;
            background: url(http://odwpzo1jp.bkt.clouddn.com/TeamHonorhead.png);
            height: 300px;
            padding-top: 150px;
            margin-left: 3%;
            text-align: center;
        }
    </style>
</head>

<body>
<div class="box">
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <h1></h1>
            </div>
        </div>
        <div class="container" style="text-align:center;opacity: 0.8;">
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <nav class="navbar navbar-default" role="navigation">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse"
                                    data-target="#bs-example-navbar-collapse-1"><span
                                    class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span
                                    class="icon-bar"></span><span class="icon-bar"></span></button>
                            <a class="navbar-brand" href="#">Brand</a>
                        </div>
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li>
                                    <a href="#a1">智能安全鞋</a>
                                </li>
                                <li>
                                    <a href="#a2">西南赛区一等奖</a>
                                </li>
                                <li>
                                    <a href="#a3">华中及西南赛区一等奖</a>
                                </li>
                                <li>
                                    <a href="#a4">华中及西南赛区特等奖</a>
                                </li>
                                <li>
                                    <a href="#a5">全国总决赛二等奖</a>
                                </li>
                                <li>
                                    <a href="#a6">四川省二等奖</a>
                                </li>
                                <li>
                                    <a href="#a8">华中及西南赛区二等奖</a>
                                </li>
                                <li>
                                    <a href="#a9">华为杯全国决赛三等奖</a>
                                </li>

                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                    <a href="#">Link</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>

        <!--<div class="row clearfix" style="margin-top:30px;">-->
        <div class="col-md-12">
            <!--<div class="col-md-6 column" style="padding-left:50px;padding-top:60px;">-->
            <div class="col-md-6 column">
                <img alt="140x140"
                     src="http://odwpzo1jp.bkt.clouddn.com/TeamHonor20161%E4%B8%AD%E5%9B%BD%E5%A4%A7%E5%AD%A6%E7%94%9F%E8%AE%A1%E7%AE%97%E6%9C%BA%E8%AE%BE%E8%AE%A1.jpg"
                     class="img-rounded"/>
            </div>
            <div class="col-md-6 column">
                <h3><a id="a1" style="text-decoration: none;">
                    中国大学生计算机设计大赛全国总决赛一等奖</a>
                </h3>
                <p>
                    2016年8月14日至18日，由教育部高等学校计算机专业教学指导委员会和中国教育
                    电视台等联合主办的2016年（第九届）中国大学生计算机设计大赛全国总决赛（中
                    华民族文化元素与软件服务外包类）在南京东南大学举办。本次大赛吸引了全国高
                    校万名师生的几千件作品，经过5个月的校赛、省赛层层选拔，最终角逐出来自北
                    京大学、同济大学、解放军空军航空大学、重庆大学、西安电子科技大学等两百多
                    所本科院校的1000多名师生、439件作品入围全国总决赛，参赛队伍规模和竞赛题
                    目质量均远超往届。</p>
                <p>翼灵物联工作室梁宗文老师指导的陈庙红、吴豪杰同学凭借项目作品<span style="font-style:italic;font-weight:bold"><a
                        href="http://scs.swpu.edu.cn/Home/Article/2902">《基于自动导航及跌倒检测的智能
                安全鞋》</a></span>获全国总决赛<span style="font-style:italic;font-weight:bold">一等奖</span>佳绩。
                </p>
            </div>
            <!--</div>-->
        </div>
        <div class="row clearfix" style="margin-top:80px;">
            <div class="col-md-6 column">
                <h3><a id="a2" style="text-decoration: none;">
                    &nbsp;&nbsp;&nbsp;第三届全国高校物联网应用创新大赛<br/>
                    西南赛区一等奖</a>
                </h3>
                <p>
                    全国高校物联网应用创新大赛是国内首个物联网学科竞赛。该赛事由教育部
                    科技发展中心主办，清华大学软件学院、清华信息科学与技术国家实验室物
                    联网技术中心、ACM中国理事会联合承办。</p>
                <p>2016年6月5日，6月5日，第三届全
                    国高校物联网应用创新大赛西南赛区决赛在成都成功举行。来自四川大学、
                    重庆大学、电子科技大学、西南石油大学等参赛队汇集成都大学进行项目角逐。翼灵物联工
                    作室陈庙红、吴豪杰同学凭借优秀的作品和出色的答辩，斩获西南赛区<span style="font-style:italic;font-weight:bold">一等奖</span>佳绩。
                </p>
            </div>

            <div class="col-md-6 column">
                <img alt="140x140"
                     src="http://odwpzo1jp.bkt.clouddn.com/TeamHonor%E5%88%9B%E6%84%8F%E8%B5%9B_%E8%A5%BF%E5%8D%97%E8%B5%9B%E5%8C%BA%E4%B8%80%E7%AD%89%E5%A5%96%20.png"
                     class="img-rounded"/>
            </div>
        </div>
        <div class="row clearfix" style="margin-top:60px;">
            <div class="col-md-6 column" style="padding-left:50px;">
                <img alt="140x140"
                     src="http://odwpzo1jp.bkt.clouddn.com/TeamHonor2016_3%E5%85%A8%E5%9B%BD%E5%A4%A7%E5%AD%A6%E7%94%9F%E7%89%A9%E8%81%94%E7%BD%91%E8%AE%BE%E8%AE%A1%E7%AB%9E%E8%B5%9B_%E5%8D%8E%E4%B8%AD%E5%8F%8A%E8%A5%BF%E5%8D%97%E5%9C%B0%E5%8C%BA.jpg"
                     class="img-rounded"/>
            </div>
            <div class="col-md-6 column">
                <h3><a id="a3" style="text-decoration: none;">
                    &nbsp;2016（TI杯）全国大学生物联网设计竞赛<br/>
                    华中及西南赛区一等奖
                </a>
                </h3>
                <p>
                    全国大学生物联网设计竞赛由教育部高等学校
                    计算机类专业教学指导委员会主办，是以学科竞赛推动专业建设、
                    培养大学生创新能力为目标，面向高校大学生举办的全国性竞赛。</p>
                <p> 2016年7月，2015年全国大学生物联网设计竞赛
                    华中及西南赛区”在成都四川大学举行，来自电子科
                    技大学、四川大学、武汉大学、重庆邮电大学等高校参加赛事，本届比赛参赛队伍规模和竞赛题目
                    质量均远超往届。</p>

                <p> 我校计算机科学学院“翼灵物联网团队”王怡、徐进同学凭借作品<span style="font-style:italic;font-weight:bold">
                       <!--<a href="http://iot.sjtu.edu.cn/show.aspx?info_lb=44&info_id=306&flag=3">-->
                           《基于wifi的地下停车场寻车系统》
                    <!--</a>-->
                </span>获
                    得华中及西南赛区 <span style="font-style:italic;font-weight:bold">一等奖</span>佳绩。
                </p>
            </div>
        </div>
        <div class="row clearfix" style="margin-top:60px;">
            <div class="col-md-6 column">
                <h3><a id="a4" style="text-decoration: none;">
                    &nbsp;2015（TI杯）全国大学生物联网设计竞赛<br/>
                    华中及西南赛区特等奖</a>
                </h3>
                <p>全国大学生物联网设计竞赛由教育部高等学校计算机类专业教学指导委员会主办，
                    是以学科竞赛推动专业建设、培养大学生创新能力为目标，面向高校大学生举办的全国性竞赛。</p>
                <p>2015年8月6日，来自电子科技大学、四川大学、华中科技大学、西南石油大学等参赛队汇聚
                    武汉华中科技大学进行2015年全国大学生物联网设计竞赛
                    华中及西南赛区项目角逐。
                    翼灵物联工作室成员的陈庙红、夏明辉、李永乐在周瑞东老师的指导下凭借作品<span style="font-style:italic;font-weight:bold">
                        <!--<a href="http://iot.sjtu.edu.cn/show.aspx?info_lb=44&info_id=149&flag=3">-->
                            《井场风向风速监测及疏散方向指示系统设计》
                        <!--</a>-->
                    </span>获得华中及西南赛区 <span style="font-style:italic;font-weight:bold">特等奖</span>佳绩。


                </p>
            </div>
            <div class="col-md-6 column">
                <img alt="140x140"
                     src="http://odwpzo1jp.bkt.clouddn.com/TeamHonor2015_1%E5%85%A8%E5%9B%BD%E5%A4%A7%E5%AD%A6%E7%94%9F%20_%E7%89%B9%E7%AD%89%E5%A5%96.jpg"
                     class="img-rounded"/>
            </div>
        </div>
        <div class="row clearfix" style="margin-top:60px;">
            <div class="col-md-6 column" style="padding-left:50px;">
                <img alt="140x140" src="http://odwpzo1jp.bkt.clouddn.com/TeamHonor2015_2.jpg" class="img-rounded"/>
            </div>
            <div class="col-md-6 column">
                <h3><a id="a5" style="text-decoration: none;">
                    &nbsp;2015（TI杯）全国大学生物联网设计竞赛<br/>
                    全国总决赛二等奖</a>
                </h3>
                <p>
                    2015年9月23日至26日，“2015年全国大学生物联网设计竞赛（TI）杯全国总决
                    赛”在无锡太湖国际博览中心举行，来自电子科技大学、四川大学、华中科技大学、
                    武汉大学、哈尔滨工业大学、西北工业大学等全国近90所高校的121支参赛队参加总
                    决赛，本届比赛作为2015年第六届中国国际物联网博览会的同期赛事举办，参赛队
                    伍规模和竞赛题目质量均远超往届。</p>
                <p>翼灵物联工作室成员陈庙红、夏明辉同学周瑞东老师的指导下，凭借作品<span style="font-style:italic;font-weight:bold">
                    <!--<a href="http://iot.sjtu.edu.cn/show.aspx?info_lb=44&info_id=149&flag=3">-->
                        《井场风向风速监测及疏散方向指示系统设计》
                    <!--</a>-->
                </span>获得全国总决赛<span style="font-style:italic;font-weight:bold">二等奖</span>佳绩。</p>
            </div>
        </div>
        <div class="row clearfix" style="margin-top:60px;">
            <div class="col-md-6 column">
                <h3><a id="a6" style="text-decoration: none;">
                    &nbsp;&nbsp; 华迪杯四川省大学生计算机设计大赛<br/>
                    四川省二等奖</a>
                </h3>
                <p>
                    2016年华迪杯·中国大学生计算机设计大赛四川省级赛在成都医学院圆满落下帷幕。
                    本届大赛由华迪公司友情赞助，有四川大学、电子科技大学、西华大学、四川师范大学等全省
                    39所高校的近300支团队参赛。。</p>
                <p>2016年5.15日，翼灵物联工作室成员陈庙红、吴豪杰同学在梁宗文老师的指导下，凭借作品<span style="font-style:italic;font-weight:bold">
                    <!--<a href="http://scs.swpu.edu.cn/Home/Article/2902">-->
                        《基于自动导航及跌倒检测的智能安全鞋》
                    <!--</a>-->
                </span>获四川省赛<span style="font-style:italic;font-weight:bold">二等奖</span>的佳绩。
                </p>
            </div>
            <div class="col-md-6 column">
                <img alt="140x140" src="http://odwpzo1jp.bkt.clouddn.com/TeamHonor2016_2%E5%8D%8E%E8%BF%AA%E6%9D%AF.jpg"
                     class="img-rounded"/>
            </div>
        </div>
        <div class="row clearfix" style="margin-top:60px;">
            <div class="col-md-6 column" style="padding-left:15px;">
                <img alt="140x140" src="http://odwpzo1jp.bkt.clouddn.com/TeamHonor2015_3_%E5%BC%A0%E8%A5%BF.jpg"
                     class="img-rounded"/>
            </div>
            <div class="col-md-6 column">
                <h3><a id="a7" style="text-decoration: none;">
                    &nbsp;2015（TI杯）全国大学生物联网设计竞赛<br/>
                    华中及西南赛区一等奖</a>
                </h3>
                <p>
                    全国大学生物联网设计竞赛由教育部高等学校
                    计算机类专业教学指导委员会主办，是以学科竞赛推动专业建设、
                    培养大学生创新能力为目标，面向高校大学生举办的全国性竞赛。</p>
                <p>2015.8月，2015年全国大学生物联网设计竞赛（TI杯）华中及西南地区决赛在华中科技大学举办，其中不乏华中科技大学、武汉大学、武汉
                    理工大学、四川大学等实力强劲的对手。由周瑞东老师指导的魏雪梅、熊旭东、张西、霍敏同学在
                    全国大学生物联网设计竞赛华中及西南赛区<span style="font-style:italic;font-weight:bold"> 一等奖</span>。
                </p>
            </div>
        </div>
        <div class="row clearfix" style="margin-top:60px;">
            <div class="col-md-6 column">
                <h3><a id="a8" style="text-decoration: none;">
                    &nbsp;2015（TI杯）全国大学生物联网设计竞赛<br/>
                    华中及西南赛区二等奖</a>
                </h3>
                <p>
                    全国大学生物联网设计竞赛由教育部高等学校
                    计算机类专业教学指导委员会主办，是以学科竞赛推动专业建设、
                    培养大学生创新能力为目标，面向高校大学生举办的全国性竞赛。</p>
                <p>2014年 8月9日2014年第一届全国大学生物联网设计竞赛（TI杯）”华中及西南
                    赛区决赛在武汉大学计算机学院隆重举行。此次全国性比赛分为3个阶段进行，分别
                    是各分赛区初赛、各分赛区决赛、全国总决赛。</p>
                <p>
                    翼灵物联工作室成员李一、尤晨飞、严诗雨经历层层选拔，入围华中及西南赛区决赛。在武汉大学的项目角逐中获得<span style="font-style:italic;font-weight:bold">二等奖</span>的优异成绩。
                </p>
                <p>

                </p>
            </div>
            <div class="col-md-6 column">
                <img alt="140x140"
                     src="http://odwpzo1jp.bkt.clouddn.com/TeamHonor%E5%B0%A4%E6%99%A8%E9%A3%9E_%E5%8D%8E%E4%B8%AD%E5%8F%8A%E8%A5%BF%E5%8D%97_%E4%BA%8C%E7%AD%89%E5%A5%96.jpg"
                     class="img-rounded"/>
            </div>
        </div>
        <div class="col-md-12" style="margin-top:20px;">
            <div class="row clearfix" style="margin-top:60px;">
                <div class="col-md-6 column">
                    <img alt="140x140" src="http://odwpzo1jp.bkt.clouddn.com/TeamHonor1.jpg" class="img-rounded"/>
                </div>
                <div class="col-md-6 column">
                    <h3><a id="a9" style="text-decoration: none;">
                        &nbsp;2016 华为杯中国大学生智能设计竞赛<br/>
                        全国三等奖</a>
                    </h3>
                    <p>
                        华为杯中国大学生智能设计竞赛是由
                        中国人工智能学会、华为科技有限公司、教育部
                        高校计算机类专业教学指导委员会联合主办的全国性大学生竞赛。
                    </p>
                    <p>
                        2016.8月翼灵物联工作室成员陈庙红、吴豪杰经历层层选拔，入围华为杯决赛。在电子科技大学的项目竞赛角逐中获得<span
                            style="font-style:italic;font-weight:bold">全国三等奖</span>的优异成绩。
                    </p>
                    <p>

                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>