<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="veiwport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>团队项目</title>
    <style>
        h1 {
            text-shadow: 5px 5px 5px 5px #665f5a;
        }

        h2 {
            text-shadow: 2px 2px 2px 2px #6c7876;
            font-family: '华文新魏';
        }

        .box {
            height: 35px;
            width: auto;
            background: #fff;
        }

        h4 {
            font-family: '微软雅黑';
            letter-spacing: 1px;
        }

        p {
            text-indent: 2em;
            line-height: 2em;
            font-family: 'Adobe 宋体 Std L', 'Helvetica', 'Adobe 黑体 Std R';
            letter-spacing: 1px;
        }

        /*.box1{background: #b5eeff
        }*/
        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        h1 small {
            text-shadow: 0 0 0 #8f9cd1;
        }
    </style>
</head>

<body>
<div class="box1">
    <div class="container">

        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="row clearfix">
                    <div class="col-md-12 column">
                        <div class="page-header">
                            <div class="row clearfix">
                                <h1 style="padding-left:20px;background:url(http://odwpzo1jp.bkt.clouddn.com/projects/%E5%9B%BE%E7%89%871.png);width:auto;height:300px;padding-top:100px;
                        text-align:center;color:#000000;font-family:'微软雅黑' ,'Microsoft YaHei','宋体';">
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix"><!--幻灯片开始-->
            <div class="col-md-12 column">
                <div class="carousel slide" id="carousel-515785">
                    <ol class="carousel-indicators">
                        <li class="active" data-target="#carousel-515785" data-slide-to="0">
                        </li>
                        <li data-target="#carousel-515785" data-slide-to="1">
                        </li>
                        <li data-target="#carousel-515785" data-slide-to="2">
                        </li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="http://odwpzo1jp.bkt.clouddn.com/projects/%E5%9F%BA%E4%BA%8E%E8%87%AA%E5%8A%A8%E5%AF%BC%E8%88%AA%E5%8F%8A%E8%B7%8C%E5%80%92%E6%A3%80%E6%B5%8B%E5%88%B0%E6%99%BA%E8%83%BD%E5%AE%89%E5%85%A8%E9%9E%8B.png"/>
                        </div>
                        <div class="item">
                            <img src="http://odwpzo1jp.bkt.clouddn.com/projects/QQ%E5%9B%BE%E7%89%8720161009161448.png"/>
                        </div>
                        <div class="item">
                            <img src="http://odwpzo1jp.bkt.clouddn.com/projects/QQ%E5%9B%BE%E7%89%8720161009161330.png"/>
                        </div>
                        <a class="left carousel-control" href="#carousel-515785" data-slide="prev"><span
                                class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control"
                                                                                        href="#carousel-515785"
                                                                                        data-slide="next"><span
                            class="glyphicon glyphicon-chevron-right"></span></a>
                    </div>
                </div>
            </div>
        </div><!-- 幻灯片结束-->

        <div class="box"></div>

        <div class="row clearfix"><!--项目介绍开始-->
            <div class="col-md-4 column">
                <div class="card">
                    <div class="media" style="background:#c9cbce;">
                        <a class="pull-left" href="#"><img class="media-object"
                                                           src="http://odwpzo1jp.bkt.clouddn.com/projects/%E7%99%BB%E5%BD%95%E6%B3%A8%E5%86%8C.png"
                                                           height="166" width="108"
                                                           style="float:left"/></a>
                        <h2 class="media-heading">
                            HTTP协议下的登录注册系统
                        </h2>
                        <p>本作品旨在帮助成员理解B/S和C/S架构，粗略实现了登录注册功能。用
                            户能够通过本系统提供的安卓客户端软件和浏览器网页端进行用户注册，
                            注册信息加密存储在云端数据库，并在用户登录时取出信息进行比对，</p>
                        <br/>
                        <button class="btn btn-lg" data-toggle="modal" data-target="#myModal1">
                            <a class="btn">View details »</a>
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-md-4 column">
                <div class="card">
                    <div class="media" style="background:#d0e7e2;">
                        <a class="pull-left" href="#">
                            <img src="http://odwpzo1jp.bkt.clouddn.com/projects/car.png" height="166" width="108"
                                 style="float:left"/></a>
                        <h2 class="media-heading">
                            基于51单片机的智能循迹小车</h2>
                        <p>
                            该智能循迹小车采用89c52芯片，配合红外传感器、超声波传感器、HC06蓝牙模
                            块、wifi模块，能自主实现循黑线高速运行，自主避障并返回数据给手机和电脑，同
                            时也可以用手机或电脑对其进行控制，也可以加入其他
                        </p>
                        <br/>
                        <button class="btn btn-lg" data-toggle="modal" data-target="#myModal2">
                            <a class="btn">View details »</a>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 column">
                <div class="card">
                    <div class="media" style="background:#fbede9;">
                        <a class="pull-left" href="#">
                            <img class="media-object"
                                 src="http://odwpzo1jp.bkt.clouddn.com/projects/diaokeji.png" height="166" width="108"
                                 alt='' style="float:left"/></a>

                        <h2 class="media-heading">
                            基于arduino的激光雕刻机</h2>
                        <p>
                            基于arduino的激光雕刻机采用了两个废旧光驱架作为雕刻机XY轴，控板更改为性
                            价比更高、兼容性更强的升级版UNO，整体结构美观，采用250mw红光激光头能在普通
                            硬纸板，PVC板材料上雕刻，也可以在手机后盖
                        </p>
                        <br/>
                        <button class="btn btn-lg" data-toggle="modal" data-target="#myModal3">
                            <a class="btn">View details »</a>
                        </button><!--项目介绍结束-->
                    </div>
                </div>
            </div>
        </div>

        <div class="box"></div>

        <div class="row clearfix"><!--项目介绍-->
            <div class="col-md-4 column">
                <div class="card">
                    <div class="media" style="background-color: #af9cb7">
                        <a class="pull-left" href="#">
                            <img class="media-object" src="http://odwpzo1jp.bkt.clouddn.com/projects/wifi.png"
                                 height="166" width="108" alt=''
                                 style="float:left"/></a>
                        <h2 class="media-heading">
                            基于WiFi的反向寻车系统</h2>
                        <p style="text-align: left">
                            本作品是基于wifi的地下停车场寻车系统。通过手机搜索商场内的wifi，根据信号强弱
                            来确定自己的到路由器的距离，再通过仿GPS的基站定位算法计算现在的位置（不需要连
                            接wifi），并将位置信息显示在手机上。当用户回到停车场时，为用户提供导航功能。<br/>
                        </p>
                        <br/>
                        <button class="btn btn-lg" data-toggle="modal" data-target="#myModal4">
                            <a class="btn">View details »</a>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 column">
                <div class="card">
                    <div class="media" style="background:#9fd0d7;">
                        <a class="pull-left" href="#">
                            <img class="media-object" src="http://odwpzo1jp.bkt.clouddn.com/projects/south.png"
                                 height="166" width="108" alt=''
                                 style="float:left"/></a>
                        <h2 class="media-heading" style="padding-top:5px;">
                            智能手机指南APP<br/>
                        </h2>
                        <p>本应用由安卓组成员共同协作完成。通过通过磁力计和加速度计的数据
                            通过一定的算法得到手机的方位，然后通过对比前一刻方位和现在手机方
                            位算出手机旋转的角度，再根据手机实际旋转的角度去旋转指南针的imag
                            eview。如此不管手机如何转动，手机画面中的指南针都是相对地面静止的 。
                        </p>
                        <br/>
                        <button class="btn btn-lg" data-toggle="modal" data-target="#myModal5">
                            <a class="btn">View details »</a>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 column">
                <div class="card">
                    <div class="media" style="background:#e1e9cd;">
                        <a class="pull-left" href="#">
                            <img class="media-object"
                                 src="http://odwpzo1jp.bkt.clouddn.com/projects/%E5%9D%A6%E5%85%8B%E5%A4%A7%E6%88%98game.png"
                                 height="166" width="108" alt=''
                                 style="float:left"/></a>
                        <h2 class="media-heading">
                            基于JavaGUI的坦克大战游戏 </h2>
                        <p>
                            本项目是Android组每个人都单独完成了一遍，坦克游戏开发是java中最为经典的一个项目
                            之一，是每一个学习Android的人必须完成的项目，本项目包含了所有java的基本知识，从界面
                            到图形绘制到画面渲染再到线程然后文件读写，中间还有对象的继承，接口的实现综合的应用了
                        </p>
                        <br/>
                        <!-- 按钮触模态框-->
                        <button class="btn btn-lg" data-toggle="modal" data-target="#myModal6">
                            <a class="btn">View details »</a>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="box"></div>

        <div class="row clearfix"><!--项目介绍-->
            <div class="col-md-4 column">
                <div class="card">
                    <div class="media" style="background:#fff9bd;">
                        <a class="pull-left" href="#">
                            <img class="media-object"
                                 src="http://odwpzo1jp.bkt.clouddn.com/projects/%E6%89%8B%E6%9C%BA%E7%AE%A1%E5%AE%B6%20%282%29.png"
                                 height="166" width="108" alt=''
                                 style="float:left"/></a>
                        <h2 class="media-heading">
                            基于Android平台的智能手机管家应用</h2>
                        <p>
                            本应用由Android组成员合作完成，模仿市面上已有的手机管家应用，实现手
                            机防盗、通讯拦截、应用进程管理、流量管理等诸多功能，同时支持桌面小插件和
                            自动更新检查。应用开发技术涉及网络、文本解析、数据库、UI设计等，
                        </p>
                        <br/>
                        <!-- 按钮触模态框-->
                        <button class="btn btn-lg" data-toggle="modal" data-target="#myModal7">
                            <a class="btn">View details »</a>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 column">
                <div class="card">
                    <div class="media" style="background:#fbede9;">
                        <a class="pull-left" href="#">
                            <img class="media-object"
                                 src="http://odwpzo1jp.bkt.clouddn.com/projects/UHF%E5%BF%AB%E9%80%9F%E7%BB%93%E8%B4%A6%E7%B3%BB%E7%BB%9F-%282%29.png"
                                 height="166"
                                 width="108" alt='' style="float:left"/></a>
                        <h2 class="media-heading">
                            基于高频RFID的UHF快捷结账系统
                        </h2>
                        <p>本系统利用UHF 超高频射频识别技术结合无源电子标签，通过高效的搜索
                            算法，实现准确、快速、批量和远距离采集商品信息，达到一秒内扫描超过50
                            件商品并计算结账，打破了目前超市所采用的传统逐一扫条形码的低效结账方式。
                        </p>
                        <br/>
                        <button class="btn btn-lg" data-toggle="modal" data-target="#myModal8">
                            <a class="btn">View details »</a>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 column">
                <div class="card">
                    <div class="media" style="background:#d1cfe3;">
                        <a class="pull-left" href="#">
                            <img class="media-object" src="http://odwpzo1jp.bkt.clouddn.com/projects/wechat.png"
                                 height="166" width="108" alt='' style="float:left"/>
                        </a>
                        <h2 class="media-heading">
                            基于微信平台的智能家居应用系统
                        </h2>
                        <p>本系统是基于微信平台的智能家居应用系统。对用户来说，用户在
                            微信公众号上点击不同的选项，将发送不同的请求给家庭云服务器；对
                            系统而言，树莓派采集传感器的数据并发送至服务器。树莓派采集传感器的数
                            据并发送至服务器。 服务器根据不同的请求对传感器发送指令以及进行数据的处理，
                        </p>
                        <br/>
                        <button class="btn btn-lg" data-toggle="modal" data-target="#myModal9">
                            <a class="btn">View details »</a>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="box"></div>

        <!-- 模态框（Moda1） -->
        <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="myModalLabel1">
                            HTTP协议下的登录注册系统
                        </h4>
                    </div>
                    <div class="modal-body">
                        同时提供保持用户登录状态的功能。其他传感器实现特定的功能如：火焰传感器，温度传感器、声波传感器实现火灾现场的特定需求功能。
                        <img src="http://odwpzo1jp.bkt.clouddn.com/projects/login.png" height="300" width="530"/></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                        </button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>

        <!-- 模态框（Moda2） -->
        <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="myModalLabel2">
                            基于51单片机的智能循迹小车
                        </h4>
                    </div>
                    <div class="modal-body">
                        其他传感器实现特定的功能如：火焰传感器，温度传感器、声波传感器实现火灾现场的特定需求功能。
                        <img src="http://odwpzo1jp.bkt.clouddn.com/projects/car%281%29.png" height="300" width="530"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                        </button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>

        <!-- 模态框（Moda3） -->
        <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="myModalLabel3">
                            基于arduino的激光雕刻机
                        </h4>
                    </div>
                    <div class="modal-body">
                        上雕刻图案和文字喔。也可以增加Z轴功能可实现3D雕刻的拓展。
                        <img src="http://odwpzo1jp.bkt.clouddn.com/projects/engraver.png" height="300" width="530"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                        </button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>

        <!-- 模态框（Moda4） -->
        <div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="myModalLabel4">
                            基于WiFi的反向寻车系统
                        </h4>
                    </div>
                    <div class="modal-body">
                        <p>让车主快速找到自己的车位。</p>
                        <img src="http://odwpzo1jp.bkt.clouddn.com/projects/wifi%281%29.png" height="300" width="530"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                        </button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>

        <!-- 模态框（Moda5） -->
        <div class="modal fade" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="myModalLabel5">
                            智能手机指南APP
                        </h4>
                    </div>
                    <div class="modal-body">
                        <p>以此来达到指南针的指明方向的效果。 </p>
                        <img src="http://odwpzo1jp.bkt.clouddn.com/projects/compass.png" height="300" width="530"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                        </button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>


        <!-- 模态框（Modal6） -->
        <div class="modal fade" id="myModal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="myModalLabel6">
                            基于JavaGUI的坦克大战游戏
                        </h4>
                    </div>
                    <div class="modal-body">
                        <p>
                            java的基本知识实现初始界面选着关卡，从而选择不同难度，
                            界面中的坦克在规定范围内自由，随机运动，发射子弹，爆破效果，游戏过程及
                            结果保存记录，下次游戏可选择继续游戏或者重新开始。
                        </p>

                        <img src="http://odwpzo1jp.bkt.clouddn.com/projects/tank_game.png" height="300" width="530"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                        </button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>

        <!-- 模态框（Modal7） -->
        <div class="modal fade" id="myModal7" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="myModalLabel7">
                            基于Android平台的智能手机管家应用
                        </h4>
                    </div>
                    <div class="modal-body">
                        <p>
                            开发过程使用Git进行版本管理。
                        </p>

                        <img src="http://odwpzo1jp.bkt.clouddn.com/projects/mobile_safe.png" height="300" width="530"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                        </button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>

        <!-- 模态框（Modal8） -->
        <div class="modal fade" id="myModal8" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="myModalLabel8">
                            基于高频RFID的UHF快捷结账系统
                        </h4>
                    </div>
                    <div class="modal-body">
                        <p>
                            本系统有效的解决了超市排队问题并且大大降低了超市的人力成本。
                        </p>

                        <img src="http://odwpzo1jp.bkt.clouddn.com/projects/rfid.png" height="300" width="530"/></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                        </button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>

        <!-- 模态框（Modal9） -->
        <div class="modal fade" id="myModal9" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="myModalLabel9">
                            基于微信平台的智能家居应用系统
                        </h4>
                    </div>
                    <div class="modal-body">
                        <p>
                            并将必要的数据存至数据库中。通过多个传感器进行对室内门锁，灯具，空调，冰箱
                            ，窗子的监控，采集室内温度，湿度，烟雾浓度等信息。从而实现无论何时
                            何地都能对房屋进行监管。
                        </p>
                        <img src="http://odwpzo1jp.bkt.clouddn.com/projects/wechat%281%29.png" height="300"
                             width="530"/></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                        </button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>

    </div>
</div>
</body>
</html>