<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8"/> 
   <title>Web前端</title>
   <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css"/>  
   <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
   <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
				<div class="navbar-header">
					 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="#">工作小组</a>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li>
							 <a href="嵌入式底层开发.html">嵌入式底层开发</a>
						</li>
						<li>
							 <a href="Android开发.html">Android开发</a>
						</li>
						<li>
							 <a href="Web开发.html">Web开发</a>
						</li>
						<li class="active">
							 <a href="#">Web前端</a>
						</li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li>
							 <a href="首页.html">首页&nbsp;&nbsp;</a>
						</li>
					</ul>
				</div>
			</nav>
			<div class="container">
				<div class="row clearfix">
					<div class="col-md-12 column">
						<div class="carousel slide" id="carousel-147448">
							<ol class="carousel-indicators">
								<li class="active" data-slide-to="0" data-target="#carousel-147448">
								</li>
								<li data-slide-to="1" data-target="#carousel-147448">
								</li>
								<li data-slide-to="2" data-target="#carousel-147448">
								</li>
								<li data-slide-to="3" data-target="#carousel-147448">
								</li>
							</ol>
							<div class="carousel-inner">
								<div class="item active">
									<img alt="" src="http://odwpzo1jp.bkt.clouddn.com/qd11.jpeg" />
									<div class="carousel-caption">
										<h4>
											First Inspirational Motto
										</h4>
										<p>
											Don't aim for success if you want it; just do what you love and believe in, and it will come naturally.
										</p>
									</div>
								</div>
								<div class="item">
									<img alt="" src="http://odwpzo1jp.bkt.clouddn.com/qd21.jpeg" />
									<div class="carousel-caption">
										<h4>
											Second Inspirational Motto
										</h4>
										<p>
											The greatest test of courage on earth is to bear defeat without losing heart.
										</p>
									</div>
								</div>
								<div class="item">
									<img alt="" src="http://odwpzo1jp.bkt.clouddn.com/qd31.jpg" />
									<div class="carousel-caption">
										<h4>
											Third Inspirational Motto
										</h4>
										<p>
											Make your whole year's plan in the spring and the whole day's plan in the morning.
										</p>
									</div>
								</div>
								<div class="item">
									<img alt="" src="http://odwpzo1jp.bkt.clouddn.com/qd41.jpg" />
									<div class="carousel-caption">
										<h4>
											Fourth Inspirational Motto
										</h4>
										<p>
											The talent of success is nothing more than doing well whatever you do without a thought of time.
										</p>
									</div>
								</div>
							</div> <a class="left carousel-control" href="#carousel-147448" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-147448" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
						</div>
					</div>
				</div>
			</div>
			<div class="page-header">
				<h1>
					Web前端 <small>Front-end web developer</small>
				</h1>
			</div>
			<div class="jumbotron">
				<h1>
					HTML5
				</h1>
				<p>
					作为翼灵物联网工作室最年轻的团队，协助后端共同搭建团队官网。我们的主要是利用HTML/CSS/JavaScript 等各种Web技术进行客户端产品的开发，完成客户端程序（也就是浏览器端）的开发，开发JavaScript以及Flash模块，同时结合后台开发技术模拟整体效果，进行丰富互联网的Web开发，致力于通过技术改善用户体验。
				</p>
				<p>
					 <a class="btn btn-primary btn-large" href="Web前端成员.html" target="_blank">Learn more</a>
				</p>
			</div>
		</div>
	</div>
</div>
</body>
</html>