<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8"/> 
   <title>Web前端成员</title>
   <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css"/>  
   <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
   <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<nav class="navbar navbar-default" role="navigation">
				<div class="navbar-header">
					 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="Web前端.html">Web前端</a>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="active">
							 <a href="#">在校生</a>
						</li>
						<li>
							 <a href="毕业生.html">毕业生</a>
						</li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li>
							 <a href="首页.html">首页</a>
						</li>
						<li class="dropdown">
							 <a href="#" class="dropdown-toggle" data-toggle="dropdown">其他小组<strong class="caret"></strong></a>
							<ul class="dropdown-menu">
								<li>
									 <a href="嵌入式开发成员.html">嵌入式底层开发</a>
								</li>
								<li>
									 <a href="Android开发成员.html">Android开发</a>
								</li>
								<li>
									 <a href="Web开发成员.html">Web开发</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</nav>
		</div>
	</div>
</div>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
		<br />
			<blockquote class="pull-right">
				<p><font face="微软雅黑">
				我们通过HTML/CSS/Javascript等Web技术进行丰富互联网的Web开发，致力于通过技术改善用户体验。	
				</font></p> <small>翼灵物联工作室 <cite>Front-end web developer</cite></small>
			</blockquote>
			<div class="row">
				<div class="col-md-6">
					<div class="thumbnail">
						<img alt="300x300" src="http://odwpzo1jp.bkt.clouddn.com/%E6%9D%8E%E5%8F%8B%E6%B3%A2.jpg" />
						<div class="caption">
							<h3>
								李友波
							</h3>
							<p><font face="微软雅黑">
								2015级物联网工程专业<br />
								Web前端组组长<br />
								<br />
								负责组内的工作任务推进以及与web开发组的合作。<br />
								“更好的自己身边有更好的你们”---是我作为组长的一个期许。<br />
								<br />
								邮箱：18882007635@163.com
								
							</font></p>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="thumbnail">
						<img alt="300x300" src="http://odwpzo1jp.bkt.clouddn.com/%E8%B5%B5%E5%9C%86%E5%9C%86.jpg" />
						<div class="caption">
							<h3>
								赵圆圆
							</h3>
							<p><font face="微软雅黑">
								2014级物联网工程专业<br />
								Web前端组成员<br />
								<br />
								获得荣誉：校优秀骨干，院二、三等奖学金。<br />
								安静内敛，诚实守信，乐于助人，有较好的协调能力和责任意识。<br />
								<br />
								邮箱：swpu_zyy@163.com
								
							</font></p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail">
						<img alt="300x300" src="http://odwpzo1jp.bkt.clouddn.com/%E6%9D%8E%E6%96%87%E6%96%90.jpg" />
						<div class="caption">
							<h3>
								李文斐
							</h3>
							<p><font face="微软雅黑">
								2015级信息管理专业<br />
								Web前端组成员<br />
								<br />
								项目经历：第六届全国大学生三创比赛 校赛三等奖；“蜂云谷”杯第二届互联网＋大赛省赛铜奖<br />
								座右铭：你不能要求简单的答案<br />
								<br />
								邮箱：15928543307@163.com
								
							</font></p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail">
						<img alt="300x300" src="http://odwpzo1jp.bkt.clouddn.com/%E5%88%98%E6%98%93%E6%B0%91.jpg" />
						<div class="caption">
							<h3>
								刘易民
							</h3>
							<p><font face="微软雅黑">
								2015级信息管理专业<br />
								Web前端组成员<br />
								<br />
								与你的故事不期而遇~<br />
								除非你变成大海  否则就会一直晕船<br />
								<br />
								邮箱：1123037659@qq.com
								
							</font></p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail">
						<img alt="300x300" src="http://odwpzo1jp.bkt.clouddn.com/%E5%91%A8%E9%82%93.jpg" />
						<div class="caption">
							<h3>
								周邓
							</h3>
							<p><font face="微软雅黑">
								2015级信息管理专业<br />
								Web前端组成员<br />
								<br />
								获奖经历：一等奖学金，优秀团员<br />
								座右铭：生活不止眼前的苟且，还有诗和远方<br />
								<br />
								邮箱：1587835128@qq.com
								
							</font></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>