<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Web开发成员</title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1"><span
                            class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span
                            class="icon-bar"></span><span class="icon-bar"></span></button>
                    <a class="navbar-brand" href="Web开发.html">Web开发</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="#">在校生</a>
                        </li>
                        <li>
                            <a href="毕业生.html">毕业生</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="首页.html">首页</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">其他小组<strong
                                    class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="嵌入式开发成员.html">嵌入式底层开发</a>
                                </li>
                                <li>
                                    <a href="Android开发成员.html">Android开发</a>
                                </li>
                                <li>
                                    <a href="Web前端成员.html">Web前端</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <br/>
            <blockquote class="pull-right">
                <p><font face="微软雅黑">
                    我们以实战项目为推动，旨在搭建鲁棒最强的后台系统，给用户最流畅与舒适的体验。
                </font></p>
                <small>翼灵物联工作室 <cite>Web development</cite></small>
            </blockquote>
            <div class="row">
                <div class="col-md-6">
                    <div class="thumbnail">
                        <img alt="300x300" src="http://odwpzo1jp.bkt.clouddn.com/%E7%8E%8B%E8%90%8D.jpg"/>
                        <div class="caption">
                            <h3>
                                王萍
                            </h3>
                            <p><font face="微软雅黑">
                                2015级物联网工程专业<br/>
                                Web开发组组长<br/>
                                项目经历：
                                <ul>
                                    <li>建设团队网站及团内系统</li>
                                    <li>基于SSH的办公系统</li>
                                    <li>基于微信平台的智能家居监控</li>
                                </ul>
                                座右铭：雄心志四海，万里望风尘。<br/>
                                邮箱：wang.03.25@qq.com
                            </font></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="thumbnail">
                        <img alt="300x300" src="http://odwpzo1jp.bkt.clouddn.com/%E5%91%A8%E6%88%90.jpg"/>
                        <div class="caption">
                            <h3>
                                周成
                            </h3>
                            <p><font face="微软雅黑">
                                2015级物联网工程专业<br/>
                                Web开发组成员<br/>
                                <br/>
                                项目经历：翼灵物联工作室招新网站、 java单机版坦克大战<br/>
                                座右铭：一切都应该归于简单<br/>
                                <br/>
                                邮箱：zhoucheng05_13@163.com

                            </font></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12"></div>
                <div class="col-md-6">
                    <div class="thumbnail">
                        <img alt="300x300" src="http://odwpzo1jp.bkt.clouddn.com/%E8%B5%B5%E7%A6%BE%E6%89%8D.jpg"/>
                        <div class="caption">
                            <h3>
                                赵禾才
                            </h3>
                            <p><font face="微软雅黑">
                                2014级物联网工程专业<br/>
                                Web开发组成员<br/>
                                <br/>
                                目前掌握S2SH和SSM整合框架，开发过基于S2SH的OA 办公系统和基于SSM的秒杀系统，目前准备学习一些必要和掌握的前端基础和Radis技术。<br/>
                                <br/>
                                邮箱：1161650078@qq.com

                            </font></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="thumbnail">
                        <img alt="300x300" src="http://odwpzo1jp.bkt.clouddn.com/%E7%94%B0%E5%B3%B0.jpg"/>
                        <div class="caption">
                            <h3>
                                田峰
                            </h3>
                            <p><font face="微软雅黑">
                                2015级物联网工程专业<br/>
                                Web开发组成员<br/>
                                <br/>
                                专攻Web后端技术，目前以各大框架的学习为主<br/>
                                座右铭；纵千言万语不如一步一个脚印<br/>
                                <br/>
                                邮箱：cloved9999@gmail.com

                            </font></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>