<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8"/> 
   <title>嵌入式底层开发成员</title>
   <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css"/>  
   <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
   <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<nav class="navbar navbar-default" role="navigation">
				<div class="navbar-header">
					 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="嵌入式底层开发.html">嵌入式底层开发</a>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="active">
							 <a href="#">在校生</a>
						</li>
						<li>
							 <a href="毕业生.html">毕业生</a>
						</li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li>
							 <a href="首页.html">首页</a>
						</li>
						<li class="dropdown">
							 <a href="#" class="dropdown-toggle" data-toggle="dropdown">其他小组<strong class="caret"></strong></a>
							<ul class="dropdown-menu">
								<li>
									 <a href="Android开发成员.html">Android开发</a>
								</li>
								<li>
									 <a href="Web开发成员.html">Web开发</a>
								</li>
								<li>
									 <a href="Web前端成员.html">Web前端</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</nav>
		</div>
	</div>
</div>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
		<br />
			<blockquote class="pull-right">
				<p><font face="微软雅黑">
				我们以实际项目为核心导向，致力于行业前沿科技，为你的大学发展保驾护航。
				</font></p> <small>翼灵物联工作室 <cite>Embeded System Development</cite></small>
			</blockquote>
			<div class="row">
				<div class="col-md-6">
					<div class="thumbnail">
						<img alt="300x200" src="http://odwpzo1jp.bkt.clouddn.com/%E9%99%88%E5%BA%99%E7%BA%A2.jpg" />
						<div class="caption">
							<h3>
								陈庙红
							</h3>
							<p><font face="微软雅黑">
								2014级物联网工程专业<br />
								翼灵物联工作室负责人及嵌入式底层开发组组长<br />
								<br />
								负责团队日常管理与建设、技术协调、团队培训
								等相关工作。旨在将团队打造成一流科技团队和为
								每个成员拥有绚烂的大学生活而努力。<br />
								<br />
								爱交流，爱技术，爱旅游，爱生活<br />
								<br />
								邮箱：cmhiot@126.com<br />
								电话：15608225668
								
							</font></p>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="thumbnail">
						<img alt="300x300" src="http://odwpzo1jp.bkt.clouddn.com/%E6%98%93%E5%B0%8F%E9%A3%8E.jpg" />
						<div class="caption">
							<h3>
								易小风
							</h3>
							<p><font face="微软雅黑">
								2015级物联网工程专业<br />
								嵌入式底层开发组成员<br />
								<br />
								拥有创业热情，目前创办有点面网络科技有限公司，旨在打造校园生活服务圈，
								同时也在创建智能硬件团队，目标在于学习智能设备原理及开发争取实现商业
								成果转化，为以后的发展创建有利条件。<br />
								获奖经历；2015年翼灵物联网创意大赛一等奖<br />
								座右铭：天行健，君子以自强不息<br />
								<br />
								邮箱：swpu_xiaofeng@163.com
							</font></p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail">
						<img alt="300x300" src="http://odwpzo1jp.bkt.clouddn.com/%E9%99%88%E5%89%8D%E4%BC%8D.jpg" />
						<div class="caption">
							<h3>
								陈前伍
							</h3>
							<p><font face="微软雅黑">
								2015级物联网工程专业<br />
								嵌入式底层开发组成员<br />
								<br />
								座右铭；习惯决定性格，性格决定命运。<br />
								<br />
								邮箱：1693378164@qq.com
								
							</font></p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail">
						<img alt="300x300" src="http://odwpzo1jp.bkt.clouddn.com/%E5%90%89%E9%94%8B%E6%B6%9B.jpg" />
						<div class="caption">
							<h3>
								吉锋涛
							</h3>
							<p><font face="微软雅黑">
								2015级物联网工程专业<br />
								嵌入式底层开发组成员<br />
								<br />
								学习经历：51单片机，zigbee，stm32<br />
								座右铭：犯其至难，图其致远<br />
								<br />
								邮箱：307557507@qq.com
								
							</font></p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail">
						<img alt="300x300" src="http://odwpzo1jp.bkt.clouddn.com/%E6%9D%9C%E5%AE%87.jpg" />
						<div class="caption">
							<h3>
								杜宇
							</h3>
							<p><font face="微软雅黑">
								2015级物联网工程专业<br />
								嵌入式底层开发组成员<br />
								<br />
								学习经历：单片机、ZigBee，目前正在学习Linux。<br />
								座右铭：好运不会落在没有准备的人身上。<br />
								<br />
								邮箱：383539078@qq.com
							</font></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>