<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>毕业生</title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1"><span
                            class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span
                            class="icon-bar"></span><span class="icon-bar"></span></button>
                    <a class="navbar-brand" href="毕业生.html">翼灵物联网工作室</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="Android开发成员.html">在校生</a>
                        </li>
                        <li class="active">
                            <a href="#">毕业生</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="首页.html">首页</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">其他小组<strong
                                    class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="嵌入式开发成员.html">嵌入式底层开发</a>
                                </li>
                                <li>
                                    <a href="Android开发成员.html">Android开发</a>
                                </li>
                                <li>
                                    <a href="Web开发成员.html">Web开发</a>
                                </li>
                                <li>
                                    <a href="Web前端成员.html">Web前端</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column" style="font-family:微软雅黑">
            <blockquote class="pull-right">
                <p>
                    我们相信两个信条:态度比能力重要 选择同样也比能力重要！
                </p>
                <small>翼灵物联工作室<cite>Graduates</cite></small>
            </blockquote>
        </div>
    </div>
    <div><br/><br/></div>
    <div class="row clearfix">
        <div class="col-md-3 col-md-offset-2 column">
            <img alt="200x200" src="http://odwpzo1jp.bkt.clouddn.com/%E6%9D%8E%E5%9B%BD%E5%86%AC.jpg" class="img-circle"
                 width="240" height="240"/>
        </div>
        <div class="col-md-5 column" style="font-family:微软雅黑">
            <ul class="list-unstyled" style="font-size:15px">
                <li>
                    <h2>李国冬</h2>
                </li>
                <li>
                    2012级物联网工程专业
                </li>
                <li>
                    研究方向：无线传感器网络、大数据
                </li>
                <li>
                    在校经历：
                    曾获计算机设计大赛全国三等奖；
                    全国Java程序设计大赛西南赛区三等奖；
                    2014年Google大学生创新训练项目；
                    校优秀学生奖学金二等奖四次，三等奖一次；校三好学生一次；中国红十字协会急救员。
                </li>
                <li>
                    <br/>
                </li>
                <li>
                    毕业去向：团博百众科技有限公司
                </li>
                <li>
                    邮箱：liguodongiot@foxmail.com
                </li>
            </ul>
        </div>
    </div>
    <div><br/><br/></div>
    <div class="row clearfix">
        <div class="col-md-5 column col-md-offset-2" style="font-family:微软雅黑">
            <ul class="list-unstyled" style="font-size:15px">
                <li class="pull-right">
                    <h2>朱婷婷</h2>
                </li>
                <li>
                    <br/><br/><br/>
                </li>
                <li class="pull-right">
                    2012级物联网工程专业
                </li>
                <li>
                    <br/>
                </li>
                <li class="pull-right">
                    研究方向：NLP（自然语言处理）
                </li>
                <li class="pull-right">
                    在校经历：多次获得优秀学生一等奖学金，优秀三好学生，优秀团员；获得第一届“灵动”物联网创意想法大赛三等奖，第二届“灵动”物联网创意想法大赛特等奖，并成功入围TI举办的物联网创新应用大赛。获得2013年度西南石油大学学生志愿者社会实践活动优秀个人，2013年度校级优秀志愿者等荣誉称号。
                </li>
                <li class="pull-right">
                    <br/>毕业去向：保研至西南石油大学CINS复杂网络实验室继续深造
                </li>
                <li class="pull-right">
                    邮箱：582353466@qq.com
                </li>
            </ul>
        </div>
        <div class="col-md-3 col-md-offset-1 column">
            <img alt="200x200" src="http://odwpzo1jp.bkt.clouddn.com/%E6%9C%B1%E5%A9%B7%E5%A9%B7.jpg"
                 class="img-circle"/>
        </div>
    </div>
    <div><br/><br/><br/></div>
    <div class="row clearfix">
        <div class="col-md-3 col-md-offset-2 column">
            <img alt="200x200" src="http://odwpzo1jp.bkt.clouddn.com/%E6%9D%9C%E5%87%A4%E7%BF%8E.jpg"
                 class="img-circle"/>
        </div>
        <div class="col-md-5 column" style="font-family:微软雅黑">
            <ul class="list-unstyled" style="font-size:15px">
                <li>
                    <h2>杜凤翎</h2>
                </li>
                <li>
                    2012级物联网工程专业
                </li>
                <li>
                    省高校乒乓球邀请赛女子团体操第七名，曾获院女子篮球赛团体第一名，
                    校篮球赛团体第八名，校级五四大合唱二等奖、校级篮球赛第七名、校级乒乓球第六名，优秀学生三等奖学金。
                </li>
                <li>
                    <br/>
                </li>
                <li>
                    毕业去向：自主创业
                </li>
                <li>
                    邮箱：199753020@qq.com
                </li>
            </ul>
        </div>
    </div>
    <div><br/><br/></div>
    <div class="row clearfix">
        <div class="col-md-5 column col-md-offset-2" style="font-family:微软雅黑">
            <ul class="list-unstyled" style="font-size:15px">
                <li class="pull-right">
                    <h2>权赵衡</h2>
                </li>
                <li>
                    <br/><br/><br/>
                </li>
                <li class="pull-right">
                    2012级物联网工程专业
                </li>
                <li class="pull-right">
                    研究方向：大数据和数据挖掘
                </li>
                <li>
                    <br/>
                </li>
                <li class="pull-right">
                    在校经历： 参加了校青志协、校青鸟话剧社、校农民之子，计科院组织部等部门和协会， 多次获得专业二、三等奖学金。
                    参与的项目有 “基于ZigBee和以太网的无线控制系统”、 “基于ZigBee的智能家居Web端开发”、 "基于ZigBee的智能家居移动端开发"。
                </li>
                <li>
                    <br/>
                </li>
                <li class="pull-right">
                    <br/>毕业去向：考研到西南石油大学数据挖掘实验室继续深造
                </li>
                <li>
                    <br/>
                </li>
                <li class="pull-right">
                    邮箱：13689047955@163.com
                </li>
            </ul>
        </div>
        <div class="col-md-3 col-md-offset-1 column">
            <img alt="200x200" src="http://odwpzo1jp.bkt.clouddn.com/%E6%9D%83%E8%B5%B5%E8%A1%A1.jpg" class="img-circle"
                 width="200" height="240"/>
        </div>
    </div>
    <div><br/><br/></div>
    <div class="row clearfix">
        <div class="col-md-3 col-md-offset-2 column">
            <img alt="200x200" src="http://odwpzo1jp.bkt.clouddn.com/%E7%BD%97%E4%BF%8A.jpg" class="img-circle"
                 width="240" height="240"/>
        </div>
        <div class="col-md-5 column" style="font-family:微软雅黑">
            <ul class="list-unstyled" style="font-size:15px">
                <li>
                    <h2>罗俊</h2>
                </li>
                <li>
                    2012级物联网工程专业
                </li>
                <li>
                    在校经历：
                    青鸟话剧社会长
                </li>
                <li>
                    <br/>
                </li>
                <li>
                    毕业去向：联创易捷
                </li>
                <li>
                    邮箱：907394893@qq.com
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>